.pessoas{
    width: 100%;
    user-select: none;
    text-align: left;
}

.pessoas th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;    
}
.pessoas td{
    height: 50px;
    padding-left: 20px;
}

.pessoas th:last-child,
.pessoas td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.pessoas tr:hover{
    background-color: var(--secundary-color);
}

@media(max-width:480px){
    .pessoas{
        border-spacing: 5px;
    }
    .pessoas thead{
        display:none;
    }
    .pessoas tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .pessoas td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .pessoas td{
        margin:10px 0;
    }

    .pessoas tr:hover{
        background-color: inherit;
    }
}